{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}

<div class="featured_products_wrapper">
    <div class="page-width uday">        
        <div class="grid-row">
            {% for product in collections.products %}            
               <div class="grid-col-lg-3 grid-col-md-6 grid-col-12"> 
                    {% render 'product-card',card_product:product %}
                </div>
            {% endfor %}            
        </div>        
    </div>
</div>




{% schema %}
{
  "name": "Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"New Arrivals"
    },
    {
        "type":"text",
        "id":"btn-name",
        "label":"Button Name",
        "default":"VIEW MORE"
    },
    {
        "type":"url",
        "id":"btn-link",
        "label":"Button Link"
    }
  ],
  "presets": [
    {
      "name": "products"
    }
  ]
}
{% endschema %}

