{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}

<div class="recommended__products_wrapper featured_products_wrapper">
    <div class="page-width">
        <div class="featured_products_top">
            {% if section.settings.title != blank %}
                <div class="featured_products_title_wrapper">
                    <h2 class="featured_products_title">Discover Our Products</h2>
                </div>
            {% endif %}
            <div class="featured_products_btns slider_arrow_btns d-flex">
                <div class="slider_arrow slider_arrow_prev slider_arrow_disable">{% render 'icon-angle-left-lg' %}</div>
                <div class="slider_arrow slider_arrow_next">{% render 'icon-angle-right-lg' %}</div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-lg-3 grid-col-md-6 grid-col-12"> 
                {% render 'product-card',card_product:product %}
            </div>
            <div class="grid-col-lg-3 grid-col-md-6 grid-col-12"> 
                {% render 'product-card',card_product:product %}
            </div>
            <div class="grid-col-lg-3 grid-col-md-6 grid-col-12"> 
                {% render 'product-card',card_product:product %}
            </div>
            <div class="grid-col-lg-3 grid-col-md-6 grid-col-12"> 
                {% render 'product-card',card_product:product %}
            </div>
        </div>
    </div>
</div>




{% schema %}
{
  "name": "Products recommendations",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"New Arrivals"
    }
  ]
}
{% endschema %}

