@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --base-transition: all .25s ease-in-out;
    scroll-behavior: smooth;
  }
}
*, body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
html, body {
  padding: 0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--body-font-family);
  font-style: var(--body-font-style);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-font-line-height);
  color: var(--color-body);
  background-color: var(--color-white);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body.product {
  background-color: rgba(var(--product-page-bg-color), var(--product-page-bg-color-opacity));
}
.main_wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.noscroll {
  overflow: hidden;
}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-font-line-height);
  color: var(--color-dark);
}
h1, .h1 {
  font-size: 40px;
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: var(--heading-h1-font-size);
  }
}
h2, .h2 {
  font-size: 32px;
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: var(--heading-h2-font-size);
  }
}
h3, .h3 {
  font-size: 28px;
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: var(--heading-h3-font-size);
  }
}
h4, .h4 {
  font-size: 22px;
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: var(--heading-h4-font-size);
  }
}
h5, .h5 {
  font-size: var(--heading-h5-font-size);
}
h6, .h6 {
  font-size: var(--heading-h6-font-size);
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  /* letter-spacing: var(--body-font-letter-spacing); */
}
p:empty{
	display: none;
}
small, .small {
  font-size: var(--body-small-font-size);
  line-height: var(--body-small-line-height);
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 700;
}
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--base-transition);
}
a:hover {
  color: var(--color-dark);
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
  max-width: 100%;
}
label {
  display: inline-block;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
.input[type="number"] {
  appearance: textfield;
  -webkit-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
output {
  display: inline-block;
}

iframe {
  border: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
/* base-focus */
/*
  Focus ring - default (with offset)
*/

*:focus {
  outline: 0;
  box-shadow: none;
}

*:focus-visible {
  outline: 1px solid rgba(var(--color-dark-rgb), 0.5);
  outline-offset: 1px;
  box-shadow: 0 0 0 1px rgb(var(--color-body-rgb)),
    0 0 2px 3px rgba(var(--color-dark-rgb), 0.3);
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused,
.no-js *:focus {
  outline: 1px solid rgba(var(--color-dark-rgb), 0.5);
  outline-offset: 1px;
  box-shadow: 0 0 0 1px rgb(var(--color-body-rgb)),
    0 0 2px 3px rgba(var(--color-dark-rgb), 0.3);
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
.no-js *:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/*
  Focus ring - inset
*/

.focus-inset:focus-visible {
  outline: 1px solid rgba(var(--color-dark-rgb), 0.5);
  outline-offset: -1px;
  box-shadow: 0 0 1px 0 rgba(var(--color-dark-rgb), 0.3);
}

.focused.focus-inset,
.no-js .focus-inset:focus {
  outline: 1px solid rgba(var(--color-dark-rgb), 0.5);
  outline-offset: -1px;
  box-shadow: 0 0 1px 0 rgba(var(--color-dark-rgb), 0.3);
}

.no-js .focus-inset:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
/*
  Focus ring - none
*/
/* Dangerous for a11y - Use with care */
.focus-none {
  box-shadow: none !important;
  outline: 0 !important;
}
.focus-offset:focus-visible {
  outline: 1px solid rgba(var(--color-dark-rgb), 0.5);
  outline-offset: 1px;
  box-shadow: 0 0 0 1px rgb(var(--color-body-rgb)), 0 0 0.5px 1px rgba(var(--color-dark-rgb), 0.3);
}

.focus-offset.focused,
.no-js .focus-offset:focus {
  outline: 1px solid rgba(var(--color-dark-rgb), 0.5);
  outline-offset: 1px;
  box-shadow: 0 0 0 1px rgb(var(--color-body-rgb)), 0 0 0.5px 1px rgba(var(--color-dark-rgb), 0.3);
}

.no-js .focus-offset:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
.body-font {
  font-family: var(--body-font-family)!important;
}
.page-width,
.page-width-fluid,
.page-width-xxl,
.page-width-xl,
.page-width-lg,
.page-width-md,
.page-width-sm {
  --page-width-space-x: 3rem;
  --page-width-space-y: 0;
  width: 100%;
  padding-right: calc(var(--page-width-space-x) * 0.5);
  padding-left: calc(var(--page-width-space-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

/* @media (min-width: 576px) {
  .page-width-sm, .page-width {
    max-width: 540px;
  }
} */
@media (min-width: 768px) {
  .page-width,
  .page-width-fluid,
  .page-width-xxl,
  .page-width-xl,
  .page-width-lg,
  .page-width-md,
  .page-width-sm {
    --page-width-space-x: 1.5rem;
  }
  .page-width-md, .page-width-sm, .page-width {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .page-width-lg, .page-width-md, .page-width-sm, .page-width {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .page-width-xl, .page-width-lg, .page-width-md, .page-width-sm, .page-width {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .page-width-xxl, .page-width-xl, .page-width-lg, .page-width-md, .page-width-sm, .page-width {
    max-width: 1320px;
  }
}
.grid-row {
  --page-width-space-x: 3rem;
  --page-width-space-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--page-width-space-y));
  margin-right: calc(-0.5 * var(--page-width-space-x));
  margin-left: calc(-0.5 * var(--page-width-space-x));
}
@media (min-width: 768px) {
    .grid-row {
      --page-width-space-x: 1.5rem;
    }
}
.grid-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--page-width-space-x) * 0.5);
  padding-left: calc(var(--page-width-space-x) * 0.5);
  margin-top: var(--page-width-space-y);
}

.grid-col {
  flex: 1 0 0%;
}
.grid-col-auto {
  flex: 0 0 auto;
  width: auto;
}

.grid-col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.grid-col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.grid-col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.grid-col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.grid-col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.grid-col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.grid-col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.grid-col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.grid-col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.grid-col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.grid-col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.grid-col-12 {
  flex: 0 0 auto;
  width: 100%;
}
@media (min-width: 576px) {
  .grid-col-sm {
    flex: 1 0 0%;
  }
  .grid-col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .grid-col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .grid-col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .grid-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .grid-col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .grid-col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .grid-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .grid-col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .grid-col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .grid-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .grid-col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .grid-col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .grid-col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .grid-col-md {
    flex: 1 0 0%;
  }
  .grid-col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .grid-col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .grid-col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .grid-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .grid-col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .grid-col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .grid-col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .grid-col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .grid-col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .grid-col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .grid-col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .grid-col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .grid-col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .grid-col-lg {
    flex: 1 0 0%;
  }
  .grid-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .grid-col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .grid-col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .grid-col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .grid-col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .grid-col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .grid-col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .grid-col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .grid-col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .grid-col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .grid-col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .grid-col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .grid-col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .grid-col-xl {
    flex: 1 0 0%;
  }
  .grid-col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .grid-col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .grid-col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .grid-col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .grid-col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .grid-col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .grid-col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .grid-col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .grid-col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .grid-col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .grid-col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .grid-col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .grid-col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .grid-col-xxl {
    flex: 1 0 0%;
  }
  .grid-col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .grid-col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .grid-col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .grid-col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .grid-col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .grid-col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .grid-col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .grid-col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .grid-col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .grid-col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .grid-col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .grid-col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .grid-col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.form_group {
    margin-bottom: 16px;
}
.form_label {
    margin: 5px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-dark);
  background-color: var(--color-white);
  background-clip: padding-box;
  border: 1px solid rgba(var(--color-black-rgb),0.05);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  outline: 0;
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: var(--color-dark);
  opacity: 1;
}
.form-control::placeholder {
  color: var(--color-dark);
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext:focus {
  outline: 0;
}
textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  background-color: #e9ecef;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}
/*-=-=- Buttons -=-=-*/
button, .btn {
  display: inline-block;
  padding: 18px 25px 16px;
  font-family: var(--button-font-family);
  font-style: var(--button-font-style);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-font-line-height);
  letter-spacing: var(--button-font-letter-spacing);
  text-transform: var(--button-text-transform);
  color: var(--button-outline-color);
  border: var(--button-border-width) var(--button-border-style) var(--button-outline-color);
  border-radius: var(--button-border-radius);
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: var(--base-transition);
}
@media (max-width:767px) {
  button, .btn {
    padding: 18px 20px 16px;
  }
}
@media (prefers-reduced-motion: reduce) {
  button, .btn {
    transition: none;
  }
}
button:hover, .btn:hover,
button:focus, .btn:focus {
  color: var(--button-outline-color);
  background-color: transparent;
  border-color: var(--button-outline-color);
}
button:hover, .btn:hover {
  outline: 0;
}
.btn-transparent:hover,
.btn-transparent:focus {
    color: var(--color-white);
    background-color: var(--button-outline-color);
    border-color: var(--button-outline-color);
}
.btn-arrow svg {
  margin-left: 8px;
  vertical-align: 0.01em;
  transition: all .15s ease-in-out;
}
.btn-primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background-color);
  border-color: var(--button-primary-background-color);
}
.btn-primary:hover, .btn-primary:focus {
  color: var(--button-primary-background-color);
  background-color: var(--button-primary-color);
  border-color: var(--button-primary-color);
}
.btn-secondary {
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-background-color);
  border-color: var(--button-secondary-background-color);
}
.btn-secondary:hover, .btn-secondary:focus {
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-background-color);
  border-color: var(--button-secondary-background-color);
}
.btn-white {
  color: var(--button-primary-color);
  background-color: var(--color-white);
  border-color: var(--color-white);
}
.btn-white:hover, .btn-white:focus {
  color: var(--color-white);
  background-color: var(--button-primary-color);
  border-color: var(--button-primary-color);
}
.btn-black {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-black);
}
.btn-black:hover, .btn-black:focus {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-black);
}
.btn-link {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: var(--color-dark);
  text-transform: uppercase;
}
.btn-link:hover, .btn-link:focus {
  text-decoration: underline;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1020;
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}
.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.top-0 {
  top: 0 !important;
}

.top-50 {
  top: 50% !important;
}

.top-100 {
  top: 100% !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.bottom-50 {
  bottom: 50% !important;
}

.bottom-100 {
  bottom: 100% !important;
}

.left-0 {
  left: 0 !important;
}

.left-50 {
  left: 50% !important;
}

.left-100 {
  left: 100% !important;
}

.right-0 {
  right: 0 !important;
}

.right-50 {
  right: 50% !important;
}

.right-100 {
  right: 100% !important;
}
.flex-fill {
  flex: 1 1 auto !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.order-first {
  order: -1 !important;
}

.order-0 {
  order: 0 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-last {
  order: 6 !important;
}
.m-0 {
  margin: 0 !important;
}
.m-auto {
  margin: auto !important;
}
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-auto {
  margin-left: auto !important;
}
.fw-light {
  font-weight: 300 !important;
}

.fw-lighter {
  font-weight: lighter !important;
}

.fw-normal {
  font-weight: 400 !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-bold {
  font-weight: 700 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
.text-reset {
  color: inherit !important;
}
.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
}
.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
/* rtl:begin:remove */
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

/* rtl:end:remove */
@media (min-width: 576px) {
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: inline-flex !important;
  }
  .d-sm-none {
    display: none !important;
  }
  .flex-sm-fill {
    flex: 1 1 auto !important;
  }
  .flex-sm-row {
    flex-direction: row !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-sm-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-sm-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-sm-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-sm-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    justify-content: center !important;
  }
  .justify-content-sm-between {
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    justify-content: space-around !important;
  }
  .justify-content-sm-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-sm-start {
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    align-items: center !important;
  }
  .align-items-sm-baseline {
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    align-items: stretch !important;
  }
  .align-content-sm-start {
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    align-content: center !important;
  }
  .align-content-sm-between {
    align-content: space-between !important;
  }
  .align-content-sm-around {
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    align-self: auto !important;
  }
  .align-self-sm-start {
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    align-self: center !important;
  }
  .align-self-sm-baseline {
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    align-self: stretch !important;
  }
  .order-sm-first {
    order: -1 !important;
  }
  .order-sm-0 {
    order: 0 !important;
  }
  .order-sm-1 {
    order: 1 !important;
  }
  .order-sm-2 {
    order: 2 !important;
  }
  .order-sm-3 {
    order: 3 !important;
  }
  .order-sm-4 {
    order: 4 !important;
  }
  .order-sm-5 {
    order: 5 !important;
  }
  .order-sm-last {
    order: 6 !important;
  }
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-inline-flex {
    display: inline-flex !important;
  }
  .d-md-none {
    display: none !important;
  }
  .flex-md-fill {
    flex: 1 1 auto !important;
  }
  .flex-md-row {
    flex-direction: row !important;
  }
  .flex-md-column {
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-md-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-md-wrap {
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-md-start {
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    justify-content: center !important;
  }
  .justify-content-md-between {
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    justify-content: space-around !important;
  }
  .justify-content-md-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-md-start {
    align-items: flex-start !important;
  }
  .align-items-md-end {
    align-items: flex-end !important;
  }
  .align-items-md-center {
    align-items: center !important;
  }
  .align-items-md-baseline {
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    align-items: stretch !important;
  }
  .align-content-md-start {
    align-content: flex-start !important;
  }
  .align-content-md-end {
    align-content: flex-end !important;
  }
  .align-content-md-center {
    align-content: center !important;
  }
  .align-content-md-between {
    align-content: space-between !important;
  }
  .align-content-md-around {
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    align-content: stretch !important;
  }
  .align-self-md-auto {
    align-self: auto !important;
  }
  .align-self-md-start {
    align-self: flex-start !important;
  }
  .align-self-md-end {
    align-self: flex-end !important;
  }
  .align-self-md-center {
    align-self: center !important;
  }
  .align-self-md-baseline {
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    align-self: stretch !important;
  }
  .order-md-first {
    order: -1 !important;
  }
  .order-md-0 {
    order: 0 !important;
  }
  .order-md-1 {
    order: 1 !important;
  }
  .order-md-2 {
    order: 2 !important;
  }
  .order-md-3 {
    order: 3 !important;
  }
  .order-md-4 {
    order: 4 !important;
  }
  .order-md-5 {
    order: 5 !important;
  }
  .order-md-last {
    order: 6 !important;
  }
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .flex-lg-fill {
    flex: 1 1 auto !important;
  }
  .flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-column {
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-lg-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-lg-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-lg-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-lg-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    justify-content: center !important;
  }
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    justify-content: space-around !important;
  }
  .justify-content-lg-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-lg-start {
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    align-items: center !important;
  }
  .align-items-lg-baseline {
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    align-items: stretch !important;
  }
  .align-content-lg-start {
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    align-content: center !important;
  }
  .align-content-lg-between {
    align-content: space-between !important;
  }
  .align-content-lg-around {
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    align-self: auto !important;
  }
  .align-self-lg-start {
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    align-self: center !important;
  }
  .align-self-lg-baseline {
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    align-self: stretch !important;
  }
  .order-lg-first {
    order: -1 !important;
  }
  .order-lg-0 {
    order: 0 !important;
  }
  .order-lg-1 {
    order: 1 !important;
  }
  .order-lg-2 {
    order: 2 !important;
  }
  .order-lg-3 {
    order: 3 !important;
  }
  .order-lg-4 {
    order: 4 !important;
  }
  .order-lg-5 {
    order: 5 !important;
  }
  .order-lg-last {
    order: 6 !important;
  }
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: inline-flex !important;
  }
  .d-xl-none {
    display: none !important;
  }
  .flex-xl-fill {
    flex: 1 1 auto !important;
  }
  .flex-xl-row {
    flex-direction: row !important;
  }
  .flex-xl-column {
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-xl-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-xl-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-xl-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-xl-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-xl-start {
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    justify-content: center !important;
  }
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    justify-content: space-around !important;
  }
  .justify-content-xl-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-xl-start {
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    align-items: center !important;
  }
  .align-items-xl-baseline {
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    align-items: stretch !important;
  }
  .align-content-xl-start {
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    align-content: center !important;
  }
  .align-content-xl-between {
    align-content: space-between !important;
  }
  .align-content-xl-around {
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    align-self: auto !important;
  }
  .align-self-xl-start {
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    align-self: center !important;
  }
  .align-self-xl-baseline {
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    align-self: stretch !important;
  }
  .order-xl-first {
    order: -1 !important;
  }
  .order-xl-0 {
    order: 0 !important;
  }
  .order-xl-1 {
    order: 1 !important;
  }
  .order-xl-2 {
    order: 2 !important;
  }
  .order-xl-3 {
    order: 3 !important;
  }
  .order-xl-4 {
    order: 4 !important;
  }
  .order-xl-5 {
    order: 5 !important;
  }
  .order-xl-last {
    order: 6 !important;
  }
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}
@media (min-width: 1400px) {
  .d-xxl-inline {
    display: inline !important;
  }
  .d-xxl-inline-block {
    display: inline-block !important;
  }
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-table {
    display: table !important;
  }
  .d-xxl-table-row {
    display: table-row !important;
  }
  .d-xxl-table-cell {
    display: table-cell !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-inline-flex {
    display: inline-flex !important;
  }
  .d-xxl-none {
    display: none !important;
  }
  .flex-xxl-fill {
    flex: 1 1 auto !important;
  }
  .flex-xxl-row {
    flex-direction: row !important;
  }
  .flex-xxl-column {
    flex-direction: column !important;
  }
  .flex-xxl-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-xxl-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-xxl-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-xxl-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-xxl-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-xxl-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-xxl-wrap {
    flex-wrap: wrap !important;
  }
  .flex-xxl-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-xxl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-xxl-start {
    justify-content: flex-start !important;
  }
  .justify-content-xxl-end {
    justify-content: flex-end !important;
  }
  .justify-content-xxl-center {
    justify-content: center !important;
  }
  .justify-content-xxl-between {
    justify-content: space-between !important;
  }
  .justify-content-xxl-around {
    justify-content: space-around !important;
  }
  .justify-content-xxl-evenly {
    justify-content: space-evenly !important;
  }
  .align-items-xxl-start {
    align-items: flex-start !important;
  }
  .align-items-xxl-end {
    align-items: flex-end !important;
  }
  .align-items-xxl-center {
    align-items: center !important;
  }
  .align-items-xxl-baseline {
    align-items: baseline !important;
  }
  .align-items-xxl-stretch {
    align-items: stretch !important;
  }
  .align-content-xxl-start {
    align-content: flex-start !important;
  }
  .align-content-xxl-end {
    align-content: flex-end !important;
  }
  .align-content-xxl-center {
    align-content: center !important;
  }
  .align-content-xxl-between {
    align-content: space-between !important;
  }
  .align-content-xxl-around {
    align-content: space-around !important;
  }
  .align-content-xxl-stretch {
    align-content: stretch !important;
  }
  .align-self-xxl-auto {
    align-self: auto !important;
  }
  .align-self-xxl-start {
    align-self: flex-start !important;
  }
  .align-self-xxl-end {
    align-self: flex-end !important;
  }
  .align-self-xxl-center {
    align-self: center !important;
  }
  .align-self-xxl-baseline {
    align-self: baseline !important;
  }
  .align-self-xxl-stretch {
    align-self: stretch !important;
  }
  .order-xxl-first {
    order: -1 !important;
  }
  .order-xxl-0 {
    order: 0 !important;
  }
  .order-xxl-1 {
    order: 1 !important;
  }
  .order-xxl-2 {
    order: 2 !important;
  }
  .order-xxl-3 {
    order: 3 !important;
  }
  .order-xxl-4 {
    order: 4 !important;
  }
  .order-xxl-5 {
    order: 5 !important;
  }
  .order-xxl-last {
    order: 6 !important;
  }
  .text-xxl-left {
    text-align: left !important;
  }
  .text-xxl-right {
    text-align: right !important;
  }
  .text-xxl-center {
    text-align: center !important;
  }
}
.bg-primary {
  --bg-opacity: 1;
  background-color: rgba(var(--color-primary-rgb), var(--bg-opacity))!important;
}
.bg_cover {
	background-repeat: no-repeat;
	background-size: cover;
}
.bg_contain {
	background-repeat: no-repeat;
	background-size: contain;
}
.bg_left_top {
    background-position: left top;
}
.bg_left_middle {
    background-position: left center;
}
.bg_left_bottom {
    background-position: left bottom;
}
.bg_right_top {
    background-position: right top;
}
.bg_right_middle {
    background-position: right center;
}
.bg_right_bottom {
    background-position: right bottom;
}
.bg_middle_top {
    background-position: center top;
}
.bg_center {
    background-position: 50% 50%;
}
.bg_middle_bottom {
    background-position: center bottom;
}
/*-=-=- Keyframes css -=-=-*/
@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(360deg); }
  to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
  from { -moz-transform: rotate(360deg); }
  to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
  from { -ms-transform: rotate(360deg); }
  to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
  from { -o-transform: rotate(360deg); }
  to { -o-transform: rotate(0); }
}
@keyframes rotate {
  from { transform: rotate(360deg); }
  to { transform: rotate(0); }
}

/*-=-=- Section css -=-=-*/
.annoucement-bar-wrapper {
  padding: 10px 0;
}
.annoucement-bar-content {
  font-size: var(--body-small-font-size);
  line-height: var(--body-small-line-height);
  letter-spacing: var(--body-small-letter-spacing);
  text-transform: uppercase;
}
.annoucement-bar-content p:last-child {
  margin-bottom: 0;
}
.country_selector_wrap {
  position: relative;
}
.country_selector {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 250px;
  padding: 25px;
  margin: 0;
  color: var(--color-body);
  text-align: left;
  list-style: none;
  background-color: var(--color-white);
  background-clip: padding-box;
}
.country_selector_wrap.show {
  display: block;
}
.social_wrapper li:not(:last-child) {
  margin-right: 6px;
}
.social_wrapper a {
  display: inline-flex;
  min-width: 45px;
  min-height: 35px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--color-dark);
  border-radius: 3px;
  padding: 3px;
  color: var(--color-dark);
  transition: var(--base-transition);
}
.social_wrapper a:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
}
/*-=-= Dropdown -=-=*/
.dropdown, .sub_dropdown {
  position: relative;
}
.dropdown-toggle, .sub_dropdown-toggle, .megamenu_dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after, .sub_dropdown-toggle::after, .megamenu_dropdown-toggle::after {
  display: inline-block;
  margin-left: 8px;
  vertical-align: 0.255em;
  content: "";
  width: 6px;
  height: 6px;
  border-left: 1px solid var(--color-dark);
  border-bottom: 1px solid var(--color-dark);
  transform: rotate(-45deg);
}
.sub_dropdown-toggle::after {
  margin-top: -2px;
  vertical-align: middle;
}
.dropdown-toggle.opened::after, .megamenu_dropdown-toggle.opened::after {
  transform: rotate(135deg);
  vertical-align: 1.2px;
}
.sub_dropdown-toggle.opened::after {
  transform: rotate(135deg);
  margin-top: 4px;
}
.dropdown-menu {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  padding: 20px 5px;
  margin: 3px 0 0;
  list-style: none;
  min-width: 12rem;
  background-color: var(--color-white);
  border: 1px solid rgba(var(--color-body-rgb), 0.3);
  color: var(--color-dark);
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: var(--base-transition);
  z-index: 999;
}
.dropdown-menu.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.sub_dropdown-menu {
  display: none;
  top: 100%;
  left: 0;
  padding: 0 5px 10px;
  list-style: none;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(var(--color-body-rgb), 0.1);
  color: var(--color-dark);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: var(--base-transition);
}
.sub_dropdown-menu.active {
  display: block;
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.dropdown-link, .sub_dropdown-link {
  display: block;
  color: inherit;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  font-family: var(--navigation-font-family);
  font-style: var(--navigation-font-style);
  font-weight: var(--navigation-font-weight);
  text-decoration: none;
  text-transform: none;
  transition: all .25s ease-in-out;
}
.sub_dropdown-link {
  font-size: 13px;
  line-height: 16px;
}
.dropdown-link:hover, .sub_dropdown-link:hover {
  text-decoration: underline;
}
.sub_dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*-=-=- SLider CSS -=-=-*/
.slider_arrow_btns {
  column-gap: 20px;
}
.slider_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: var(--base-transition);
}
.slider_arrow:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
}
.slider_arrow.slider_arrow_disable {
  opacity: 0.5;
}
/*-=- Product Quantity Selector =-=*/
.product_quantity_selector {
    padding: 6px 8px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    display: flex;
    width: 39%;
    margin-right: 16px;
    margin-bottom: 16px;
}
.product_quantity_selector_input {
    border: 0;
    border-radius: 0;
    padding: 7px 10px;
    margin: 0;
    width: 20px;
    min-width: unset;
    display: inline-block;
    background: transparent;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    flex: 1;
}
.product_quantity_btn {
    padding: 10px 0;
    border-radius: 0;
    border: 0;
    width: 36px;
    height: 36px;
}
.product_quantity_btn:hover, .product_quantity_btn:focus {
    background-color: var(--color-white);
}
@media (max-width:767px) {
  .product_quantity_selector {
      width: 100%;
      margin-right: 0;
  }
}
/*-=-=- Keyframes -=-=-*/
@keyframes shadow {
  from {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, .25);
    box-shadow: 0 0 0 rgba(255, 255, 255, .25)
  }

  to {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0)
  }
}


