.price {
    font-weight: 600;
    line-height: 21px;
}
.price__regular {
    color: var(--color-dark);
    margin-right: 10px;
}
.price__sale {
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.6;
}