.look_wrapper {
    padding: 150px 0 110px;
}
.look_section_left--image {
    position: relative;
}
.look_section_left--image img {
    width: 100%;
}
.look_section_left--image-badge {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
}
.look_point {
    position: absolute;
    top: 10%;
    left: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-radius: 100%;
    -webkit-animation-name: shadow;
    animation-name: shadow;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.look_point_circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--color-white);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: var(--base-transition);
}
.look_point:hover .look_point_circle {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.look_section_right--content-top {
    margin-bottom: 30px;
}
.look_section_right--content-title {
    margin-bottom: 10px;
}

@media (max-width:991px) {
    .look_wrapper {
        padding: 60px 0;
    }
    .look_section_left--image {
        margin-bottom: 60px;
    }
}



